<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vsokoltsov.estudy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <instrumentation
            android:targetPackage="com.example.vsokoltsov.estudy"
            android:name="android.test.InstrumentationTestRunner" />

        <activity
            android:name=".views.base.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.MainActivity"></activity>
        <activity
            android:name=".views.chats.ChatActivity"
            android:label="Dialogs" >
        </activity>
        <activity
            android:name=".views.authorization.AuthorizationActivity"
            android:label="Auth" >
        </activity>
    </application>

</manifest>
